@import "tailwindcss";


/*landing page*/
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}

.float {
    animation: float 2s ease-in-out infinite;
}